:root {
  // color
  --background: #212121;
  --sidebar: #171717;
  --text: #ececec;
  --primary: #D8DBBD;
  --secondary: #B59F78;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: sans-serif;
}

.btn {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}