<div class="navigation">
  <div class="logo">
    <span class="full">Subtitles editor</span>
    <span class="short">Subs</span>
  </div>
  <div class="link-item">
    <a routerLink="editor">
      <span class="full">Edit Subtitles File</span>
      <span class="short">Edit</span>
      <fa-icon [icon]="iedit"></fa-icon>
    </a>
  </div>
  <div class="link-item">
    <a routerLink="generator">
      <span class="full">Generate Subtitles</span>
      <span class="short">Generate</span>
      <fa-icon [icon]="ilang"></fa-icon>
    </a>
  </div>
</div>
