.content {
    padding: 1rem;

    .btn-input {
      display: inline-block;
      position: relative;
      width: 300px;
      padding: 1rem 2rem;
      background-color: var(--primary);
      color: var(--background);
      font-size: 100%;
      text-align: center;
      border-radius: 4px;
      cursor: pointer;
      user-select: none;
      transition: background-color 0.2s;
  
      &:hover {
        background-color: var(--secondary);
      }
      
      .hidden-input {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
        top: 0;
        left: 0;
      }
      
      .button-label {
        pointer-events: none;
      }
    }

    .media-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 1rem;

        .actions {
            margin-top: 1rem;

            button {
                margin: 0 0.5rem;
            }
        }
    }
    
}