.editor-container {
  margin: 0 1rem;
  padding: 1rem;
  color: var(--background);
  background-color: var(--secondary);
  border-radius: .5rem;

  .timing {
    display: flex;
    gap: 1rem;
    width: 100%;

    .value {
      label {
        padding-right: .2rem;
      }

      input {
        width: 40px;
      }
    }
  }

  .text {
    textarea {
      width: 100%;
      resize: vertical;
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

    .btn-save {
      display: inline-block;
      position: relative;
      align-self: center;
      width: 200px;
      padding: .5rem 2rem;
      background-color: var(--primary);
      color: var(--background);
      font-size: 100%;
      text-align: center;
      border-radius: 4px;
    }
  }
}