<div class="editor-container">
  <div class="timing start-time">
    <span class="value">
      <label for="start-hours">Hours</label>
      <input type="number" id="start-hours">
    </span>
    <span class="value">
      <label for="start-minutes">Minutes</label>
      <input type="number" id="start-minutes">
    </span>
    <span class="value">
      <label for="start-seconds">Seconds</label>
      <input type="number" id="start-seconds">
    </span>
    <span class="value">
      <label for="start-milliseconds">Milliseconds</label>
      <input type="number" id="start-milliseconds">
    </span>
  </div>
  <div class="timing end-time">
    <span class="value">
      <label for="end-hours">Hours</label>
      <input type="number" id="hours">
    </span>
    <span class="value">
      <label for="end-minutes">Minutes</label>
      <input type="number" id="end-minutes">
    </span>
    <span class="value">
      <label for="end-seconds">Seconds</label>
      <input type="number" id="end-seconds">
    </span>
    <span class="value">
      <label for="end-milliseconds">Milliseconds</label>
      <input type="number" id="end-milliseconds">
    </span>
  </div>
</div>
