@let file = fileStorage.getFile();
@let subtitles = subsStorage.getSubtitles();

<div class="content">
  <section id="file-select">
    <div class="buttons">
      <button class="btn btn-input">
        <label for="sub-input" class="button-label" id="fileLabel">
          @if (file) {
            {{file.name}}
          } @else {
            Upload Subtitle File
          }
        </label>
        <input
          type="file"
          accept=".srt,.vtt"
          id="sub-input"
          class="hidden-input"
          (change)="onFileSelected($event)"
          #fileInput
        />
      </button>
      <p class="separator">Or</p>
      <button class="btn btn-input" (click)="clearFile(fileInput); createSample()">
        Create Sample File
      </button>
    </div>
  </section>
  <section id="file-examine">
    <div class="examine-container">
      <div class="subs">
        @for (item of subtitles; track $index) {
          @if ($first) {
            <app-add-subtitle-item></app-add-subtitle-item>
          }
          <app-subtitle-item [index]="$index"
                              [selected]="selectedSegment?.id === item.id"
                              [id]="item.id"
                              [startTime]="item.startTime"
                              [endTime]="item.endTime"
                              [text]="item.text"
                              (segmentSelected)="onSegmentSelected($event)">
          </app-subtitle-item>
          <app-add-subtitle-item></app-add-subtitle-item>
        }
      </div>
      <div class="editor">
        @if (selectedSegment && selectedSegmentIndex !== null) {
          <app-subtitle-editor [subtitle]="selectedSegment"
                               [index]="selectedSegmentIndex"
                               (saved)="onSegmentSaved()">
          </app-subtitle-editor>
        }
      </div>
    </div>
  </section>
</div>